base_url = "http://127.0.0.1:1111"
compile_sass = true
build_search_index = false
generate_feeds = false
minify_html = true

[markdown]
smart_punctuation = true

[markdown.highlighting]
style = "class"
theme = "github-dark"

[extra]
favicon = false
large_card = true
footer_text = "Built with [Zola](https://www.getzola.org)"
server_side_katex = true