{% macro rust_diff() %}
diff --git a/src/main.rs b/src/main.rs
index 123456..789abc 100644
--- a/src/main.rs
+++ b/src/main.rs
@@ -1,10 +1,15 @@
 fn main() {
-    println!("Hello, World!");
+    println!("Hello, Zola!");
+    
+    // Add new greeting function
+    greet("Welcome to our blog");
 }
 
-fn calculate_sum(a: i32, b: i32) -> i32 {
-    a + b
+fn greet(message: &str) {
+    println!("{}", message);
 }
 
-// TODO: Add more functions here
+fn calculate_sum(a: i32, b: i32) -> i32 {
+    // Add debug info
+    println!("Calculating sum of {} and {}", a, b);
+    a + b
+}
{% endmacro rust_diff %}

{% macro add_patch_info(page) %}
    {# Extract path parts from page relative path #}
    {% set page_path_parts = page.relative_path | split(pat="/") %}
    {% set page_filename = page_path_parts | last | replace(from=".md", to="") %}
    {% set filename_parts = page_filename | split(pat="_") %}

    {# Extract PR number and build patch filename #}
    {% set has_valid_patch = false %}
    {% if filename_parts | length > 1 and filename_parts[0] == "pr" %}
        {% set pr_number = filename_parts[1] %}
        {% set patch_filename = "pr_" ~ pr_number ~ ".patch" %}
        {% set has_valid_patch = true %}
    {% endif %}
    
    {# Check if we're in a post or pull_request section #}
    {% set is_post = false %}
    {% if page.relative_path is starting_with("posts/") or page.relative_path is starting_with("pull_request/") %}
        {% set is_post = true %}
    {% endif %}
    
    {# Only add the patch info if this is a post and has a valid patch #}
    {% if is_post and has_valid_patch %}
        {# Store the path of the patch file, to be used by JavaScript #}
        {% if page_path_parts | length > 1 %}
            {% set directory = page_path_parts | slice(start=0, end=page_path_parts | length - 1) | join(sep="/") %}
            <div id="patch-info" data-patch-exists="true" data-patch-path="{{ directory }}/{{ patch_filename }}" style="display:none;"></div>
        {% else %}
            <div id="patch-info" data-patch-exists="true" data-patch-path="{{ patch_filename }}" style="display:none;"></div>
        {% endif %}
    {% endif %}
{% endmacro add_patch_info %} 