{% import "macros/components/post_list.html" as post_list_macros %}
{% import "macros/components/tags.html" as tags_macros %}
{% import "macros/components/header.html" as header_macros %}
{% import "macros/components/content.html" as content_macros %}
{% import "macros/components/formatting.html" as formatting_macros %}

{# Re-export all macros to maintain backward compatibility #}

{# Post List Macros #}
{% macro list_tag_posts(pages, tag_name=false) %}
    {{ post_list_macros::list_tag_posts(pages=pages, tag_name=tag_name) }}
{% endmacro %}

{% macro list_posts(pages) %}
    {{ post_list_macros::list_posts(pages=pages) }}
{% endmacro %}

{% macro list_terms(terms) %}
    {{ post_list_macros::list_terms(terms=terms) }}
{% endmacro %}

{% macro cards_posts(pages) %}
    {{ post_list_macros::cards_posts(pages=pages) }}
{% endmacro %}

{# Tags Macros #}
{% macro tags(page, short=false) %}
    {{ tags_macros::tags(page=page, short=short) }}
{% endmacro %}

{# Header Macros #}
{% macro page_header(title) %}
    {{ header_macros::page_header(title=title) }}
{% endmacro %}

{% macro home_page(section) %}
    {{ header_macros::home_page(section=section) }}
{% endmacro %}

{# Content Macros #}
{% macro content(page) %}
    {{ content_macros::content(page=page) }}
{% endmacro %}

{# Formatting Macros #}
{% macro format_title_with_code(title) %}
    {{ formatting_macros::format_title_with_code(title=title) }}
{% endmacro %}
