{% extends "base.html" %}

{% block main_content %}
    <div class="projects-content">
        <h1>{{ section.title }}</h1>
        
        {% if section.content %}
            <div class="section-content">
                {{ section.content | safe }}
            </div>
        {% endif %}
        
        {% if section.subsections %}
            <ul class="project-list">
                {% for s in section.subsections %}
                    {% set subsection = get_section(path=s) %}
                    <li class="project-item">
                        <div class="project-title">
                            <a href="{{ get_url(path=subsection.path ~ 'content/') }}">{{ subsection.title }}</a>
                        </div>
                        {% if subsection.description %}
                            <div class="project-description">
                                {{ subsection.description }}
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="no-projects">
                <p>No projects yet.</p>
            </div>
        {% endif %}
    </div>
{% endblock main_content %} 