{% set this = page | default(value = section) %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ get_url(path = 'main.css') | safe }}">
        <link rel="stylesheet" href="{{ get_url(path = 'directory.css') | safe }}">

        <title>{{ this.title }}</title>

        {% block head_includes %}{% endblock head_includes %}
    </head>

    <body>
        {% block main %}{% endblock main %}
    </body>

</html>
