{% extends "section_base.html" %}

{% block main %}
<div class="container">
    <h1>{{ section.title }}</h1>

    {% if section.content %}
        {{ section.content | safe }}
    {% endif %}

    <div class="directory-list">
        <ul>
            <!-- Subdirectories first -->
            {% for subsection_path in section.subsections | default(value=[]) %}
                {% set subsection = get_section(path=subsection_path) %}
                <li class="directory"><a href="{{ subsection.permalink }}">{{ subsection.title }}/</a></li>
            {% endfor %}

            <!-- Pages -->
            {% for page in section.pages | default(value=[]) %}
                <li class="file"><a href="{{ page.permalink }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
