{% extends "base.html" %}

{% block title %}{{ section.title }} | {{ config.title }}{% endblock %}

{% block content %}
    <h1>{{ section.title }}</h1>
    {% if section.description %}
        <p>{{ section.description }}</p>
    {% endif %}
    
    {% if section.content %}
        <div class="content">
            {{ section.content | safe }}
        </div>
    {% endif %}
    
    {% if section.pages %}
        <h2>Pages</h2>
        <ul>
            {% for page in section.pages %}
                <li><a href="{{ page.permalink }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    
    {% if section.subsections %}
        <h2>Subsections</h2>
        <ul>
            {% for subsection_path in section.subsections %}
                {% set subsection = get_section(path=subsection_path) %}
                <li><a href="{{ subsection.permalink }}">{{ subsection.title }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %} 