{% extends "section_base.html" %}

{% block main %}
<div class="container">
    <h1>{{ page.title }}</h1>

    {% if page.date %}
    <p><small><time datetime="{{ page.date | date(format='%+') }}">Published: {{ page.date | date(format='%Y-%m-%d') }}</time></small></p>
    {% endif %}

    <div class="content" id="content">
        {{ page.content | safe }}
    </div>

    {% if config.extra.footer_text %}
        <footer class="footer">
            {{ config.extra.footer_text | markdown | safe }}
        </footer>
    {% endif %}
</div>
{% endblock %}
